DirectoryIndex index.html

# Expires Headers
<IfModule mod_expires.c>
    ExpiresActive On
    # Images
    ExpiresByType image/jpg "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType image/x-icon "access 1 month"
    # Site Parts (filename-based cache busting is present)
    ExpiresByType text/css "access 1 year"
    ExpiresByType application/javascript "access 1 year"
    # Fonts
    ExpiresByType application/font-woff2 "access plus 1 month"
    ExpiresByType application/font-woff "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
    ExpiresByType application/x-font-ttf "access plus 1 month"
    ExpiresByType font/opentype "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
</IfModule>

ErrorDocument 401 /403.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

RewriteEngine On

# API8
RewriteRule ^API8/([^/]*)/([^/]*)/([^/]*)/(.*)$ /API/API8.php?module=$1&controller=$2&route=$3&param=$4 [L]
RewriteRule ^API8/([^/]*)/([^/]*)/(.*)$ /API/API8.php?module=$1&controller=$2&route=$3 [L]
RewriteRule ^API8($|/) - [L,QSA]
# API
RewriteRule ^API/([^/]*)/([^/]*)/(.*)$ /API/API.php?controller=$1&method=$2&param=$3 [L]
RewriteRule ^API($|/) - [L,QSA]
## Legacy API
RewriteRule ^ws/([^/]*)/(.*)$ /webService/webService.php?function=$1&$2 [L]

# Game Sites
RewriteRule ^Blockara/([^/]*)\.html$ /Blockara/pageLoader.php?path=$1 [L]
RewriteRule ^Blockara($|/) - [L]
RewriteRule ^games($|/) - [L]
RewriteRule ^newtest($|/) - [L]
RewriteRule ^.well-known($|/) - [L]

# Main Site
RewriteRule ^sonic\.html$ /sonic [L]
RewriteRule ^index\.html$ - [L]
## Vue routes won't include periods, so let files through for real 404 errors instead of vue routed 404s
RewriteRule \. - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
